<div class="container mt-5 d-flex justify-content-center">
	<h1>Weather App</h1>
</div>
<div class="container mb-3 d-flex justify-content-center">
    <input type="text"  [(ngModel)]="city" placeholder="Type a city here"/>
    <button (click)="getCurrent()" type="button" class="btn btn-primary">Get data</button>
</div>
<div class="container mb-3 d-flex justify-content-center">
    <p *ngIf="isExist" class="text-danger">Please type a valid city name</p>
    <p *ngIf="!isExist">Search for a city/country</p>
</div>
<div class="container d-flex justify-content-center">
	<div class="card  shadow-lg text-left cardBox">
		<img src="../assets/ff.png" class="card-img-top shadow-lg" alt="..." />
		<div class="card-body">
			<h3 class="card-title">City Name - {{name}}</h3>
			<h5 class="card-title">Temperature - {{temperature}} ℉</h5>
			<p class="card-text">Feels like - {{feelsLikeTemp}} ℉</p>
			<p class="card-text">Humidity - {{humidity}} %</p>
			<p class="card-text">Pressure - {{pressure}}</p>
			<p class="card-text">Description - {{description}}</p>
		</div>
	</div>
</div>


<router-outlet></router-outlet>
